.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.cd {
  text-decoration: none;
  color: white;
}

.cd:hover {
  transition: color 0.3s ease;
  background-color: white;
  color: black;
}

.postName {
  text-align: center;
}
