html {
  background-color: black;
  color: white;
  font-size: 13px;
}

.content {
  max-width: 800px;
  margin: auto;
}

.intro-title {
  text-align: justify;
  margin: auto 1rem;
  margin-bottom: 1rem;
  padding: 100;
}

.introduce {
  text-align: justify;
  margin: 0 1rem;
  hyphens: auto;
  line-height: 1.6;
}