.container {
  max-width: 800px; 
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
}

.line {
  width: 100%;
  border-bottom: 1px dashed white;
  margin: 0.7rem auto;
}

.nav a {
  margin-right: 0.5rem;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: black;
  background-color: white;
}